{% extends "claim/index.html" %}
{% block scripts %}
<script>
  function add_error(){
    $.post(
      "/write_error",
      {
        kv_name: $("#kv_select").val(),
        question: $("#q_select").val(),
        prev: $("#prev").prop("checked")
      }
    )
    .done(function(message){
      if (message == 'None'){
        $("#add_result_positive").show();
        setTimeout(() => { $("#add_result_positive").hide()}, 5000);
      }
      else{
        console.log(message);
        $("#add_result_negative").show();
        setTimeout(() => { $("#add_result_negative").hide()}, 5000);
      };
    })
    .fail(function(message){
      console.log(message);
      $("#add_result_negative").show();
      setTimeout(() => { $("#add_result_negative").hide()}, 5000);
    });
  }
</script>
{% endblock %}
{% block main %}
  <input type="text" id="kv_select" list="kv" />
  <datalist id="kv">
    {% for k in kv %}
      <option value="{{ k.KV_name }}" />
    {% endfor %}
  </datalist>
  <input type="text" id="q_select" list="q" />
  <datalist id="q">
    {% for q in question %}
      <option value="{{ q.question_number }}. {{ q.question_text }}" />
    {% endfor %}
  </datalist>
  <input type="checkbox" id="prev" />
  <label for="prev">Отнести к прошлому месяцу</label>
  <div>
    <button onclick="add_error()">Добавить</button>
    <span id="add_result_positive" style="color: green;" hidden >Ошибка успешно добавлена</span>
    <span id="add_result_negative" style="color: red;" hidden >Ошибка не добавлена</span>
  </div>
{% endblock %}
