{% extends 'claim/index.html' %}
{% block style %}
<style>
  .group_name, .group_err_count, .error_summary {
    font-weight: 700;
  }
  thead {
    position: sticky;
    top: 0;
    background: white;
  }
  .left {
    position: sticky;
    left: 0;
    background: white;
  }
</style>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block main %}
{% if group == 'view' or group == 'work' %}
  <p>Всего ошибок: <b>{{ claim_len }}</b></p>
{% endif %}
<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Логин</th>
      {% for q in Question %}
        <th>{{ q.question_number }}.<br />{{ q.question_text }}</th>
      {% endfor %}
      <th>Итого</th>
    </tr>
  </thead>
  <tbody>
    {% for group_name,group_arr in count_arr.items %}

      <tr>
        <td class="group_name">{{ group_name }}</td>
        <td class="group_summary">{{ group_arr.summary }}</td>
      </tr>

      {% for kv_name,kv_arr in group_arr.items %}
        {% if kv_name != 'summary' %}
          <tr>
            {% for value in kv_arr %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endif %}
      {% endfor %}

    {% endfor %}
    <tr>
      {% for val in summary_arr %}
        {% if val == 'Итого' %}
          <td><b>{{ val }}</b></td>
        {% else %}
          <td>{{ val }}</td>
        {% endif %}
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}
