{% extends 'claim/index.html' %}
{% block style %}
<style>
  .group_name, .group_err_count, .error_summary {
    font-weight: 700;
  }
  thead {
    position: sticky;
    top: 0;
    background: white;
  }
  .left {
    position: sticky;
    left: 0;
    background: white;
  }
</style>
{% endblock %}
{% block main %}
<p>Всего ошибок: <b>{{ claim_len }}</b></p>
<table>
  <thead>
    <tr>
      <th>ФИО</th>
      <th>Логин</th>
      {% for q in Question %}
        <th>{{ q.question_number }}.<br />{{ q.question_text }}</th>
      {% endfor %}
      <th>Итого</th>
    </tr>
  </thead>
  <tbody>
    {% for group in Group %}
      <tr class="group_line">
        <td class="group_name">{{ group.group_name }}</td>
        <td class="group_err_count">{{ group.Error_count }}
      </tr>
      {% for kv in KV %}
        {% if kv.group_name == group %}
          <tr>
            <td class="left">{{ kv.KV_name }}</td>
            <td class="left">{{ kv.KV_login }}</td>
            {% for val in kv.Error_count_list %}
              <td>{{ val }}</td>
            {% endfor %}
            <td class="error_summary">{{ kv.Error_summary }}</td>
          </tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <tr>
      <td></td>
      <td class="error_summary">Итого</td>
      {% for q in Question %}
        <td class="error_summary">{{ q.Count }}</td>
      {% endfor %}
    </tr>
  </tbody>
</table>
{% endblock %}
